{% include base_path %}

<!-- Yuhan Liu: site icons and academic typography -->
<link rel="icon" type="image/png" href="{{ base_path }}/images/alpaca-scholar.png?v=yuhan-20260828a">
<link rel="shortcut icon" type="image/png" href="{{ base_path }}/images/alpaca-scholar.png?v=yuhan-20260828a">
<link rel="apple-touch-icon" href="{{ base_path }}/images/alpaca-scholar.png?v=yuhan-20260828a">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">

<!-- MathJax 3 -->
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
